.home-container {
}
.recommended-heading {
  color: rgb(73, 73, 73);
  margin-left: 50px;
}

.each-card {
  transition: 0.3s all;
}
.each-card:hover {
  cursor: pointer;
  scale: 1.2;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
